<meta name="viewport" content="width: device-width" initial-scale="1">
<div class=" background-image ">

    <div class="d-flex flex-row header ">
        <div class="flex-row logo col-2 ">
            <div class="col-4 ">

            </div>
            <div class="col-8 ">
                <img src="assets/img/logo1.png " id="logo ">

            </div>

        </div>
        <div class="flex-column j-c-space-between col-10 ">
            <div class="flex-row j-c-space-between ">
                <div class="d-flex justify-content-between col-7 ">
                    <div class="d-flex flex-row ">
                        <div class="padding "><img src="assets/img/phone.png " id="broj_icon "></div>
                        <div><span class="text ">+382 67 224 712</span></div>

                    </div>


                    <div class="d-flex flex-row ">
                        <div class="padding "><img src="assets/img/mail.png " id="email_icon "></div>
                        <div><span class="text ">prodaja@posudje</span>
                        </div>
                    </div>

                    <div class="d-flex flex-row ">
                        <div class="padding "><img src="assets/img/7.png " id="isporuka_icon "></div>
                        <div><span class="text ">Besplatna isporuka na teritoriji</span></div>

                    </div>
                </div>

                <div class="flex-row j-c-space-between col-4 ">
                    <div class="flex-row j-c-space-between ">
                        <div class="padding "><img src="assets/img/avatar.png " id="profil_icon "></div>
                        <div><span class="text ">Profil</span></div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="padding "><img src="assets/img/heart.png " id="omiljeni_icon "></div>
                        <div><span class="text ">Omiljeni</span></div>

                    </div>
                    <div class="d-flex flex-row ">
                        <div class="padding "><img src="assets/img/cart.png " id="korpa_icon "></div>
                        <div><span class="text ">Korpa</span></div>
                    </div>
                    <div class="d-flex flex-row ">
                        <div class="padding "><span class="text ">MNE</span></div>
                        <div><img src="assets/img/next.png " id="MNE_arrow "></div>

                    </div>
                </div>

            </div>
            <div class="flex-row j-c-space-between ">
                <div class="flex-row j-c-space-between row col-7 ">
                    <div><span class="text ">NASA PRODAVNICA</span></div>
                    <div><span class="text ">ZNANJE O POSUDJU</span></div>
                    <div><span class="text ">RECEPTI</span></div>
                    <div><span class="text ">KONTAKT</span></div>
                </div>
                <div class="row col-3 ">
                    <div class="main">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Pretraži">
                        </div>

                    </div>
                </div>

            </div>
        </div>