<div class="flex-row header row">
    <div class="flex-row logo col-2">
        <div class="col-4">

        </div>
        <div class="col-8">
            <img id="logo">

        </div>

    </div>
    <div class="flex-column j-c-space-between col-10">
        <div class="flex-row j-c-space-between">
            <div class="flex-row j-c-space-between col-6">
                <div>
                    <img src="../slike/phone.png" id="broj_icon">
                    <span>+382 67 224 712</span>
                </div>


                <div>
                    <img src="../slike/mail.png" id="email_icon">
                    <span>prodaja@posudje</span>
                </div>

                <div class="flex-row j-c-space-between row col-6">
                    <img src="../slike/7.png" id="isporuka_icon">
                    <span>Besplatna isporuka na teritoriji</span>

                </div>
            </div>

            <div class="flex-row j-c-space-between col-4">
                <div class="flex-row j-c-space-between row">
                    <img src="../slike/avatar.png" id="profil_icon">
                    <span>Profil</span></div>
                <div>
                    <img src="../slike/heart.png" id="omiljeni_icon">
                    <span>Omiljeni</span></div>
                <div>
                    <span class="col-5"> <img src="../slike/shoppingcart.png" id="korpa_icon"></span>
                    <span class="col-6">Korpa</span></div>
                <div>
                    <span class="col-5 ">MNE</span>
                    <span class="col-6 "><img src="../slike/next.png" id="MNE_arrow"></span>

                </div>
            </div>

        </div>
        <div class="flex-row j-c-space-between ">
            <div class="flex-row j-c-space-between row col-5 ">
                <div><span>NASA PRODAVNICA</span></div>
                <div><span>ZNANJE O POSUDJU</span></div>
                <div><span>RECEPTI</span></div>
                <div><span>KONTAKT</span></div>
            </div>




            <div class="row col-2 "><span><input class="form-control"></span></div>
        </div>

    </div>