<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<meta name="viewport" content="width: device-width" initial-scale="1">

<div class="flex-column footer column">
    <div class="flex-row col"></div>
    <div class="flex-row">
        <div class="flex-row col-2">
            <div class="col-4"></div>
            <div class="col-8">
                <img src="assets/img/logo2.png" id="logo" alt="">
            </div>
        </div>
        <div class="flex-row j-c-space-between col-10">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="flex-column j-c-space-between">
                    <div>
                        <span class="text-titles">KONTAKTIRAJTE NAS</span>
                    </div>
                    <div class="info">
                        <div>+382 67 224 712</div>
                        <div>prodaja@posudje.me</div>
                        <div>8100 Podgorica</div>
                        <div>Montenegro</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="flex-column j-c-space-between">
                    <div>
                        <span class="text-titles">MENU</span>
                    </div>
                    <div class="info">
                        <div>Pocetna</div>
                        <div>Nasa prodavnica</div>
                        <div>Znanje o posudju</div>
                        <div>Recepti</div>
                        <div>Kontakt</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="flex-column j-c-space-between">
                    <div>
                        <span class="text-titles">INFORMATION</span>
                    </div>
                    <div class="info">
                        <div></div>
                        <div>About Adobe XD Kit</div>
                        <div>Work With U5</div>
                        <div>Privacy Policy</div>
                        <div>Terms & Conditions</div>
                        <div>Press Enquiries</div>
                    </div>
                </div>


            </div>
            <div class="col-3">

                <div class="flex-column j-c-space-between">
                    <div>
                        <span class="info">Subscribe to our newsletter</span>
                    </div>
                    <div class="info pink">
                        <div>Here goes </div>
                        <div>some text</div>

                        <div class="d-flex flex-row">
                            <div><input type="text" class="input form-control"></div>
                            <div class="btn-padding"><button class="btn btn_color"><p class="info center">Subscribe</p></button></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-1">

                <i style="color:white" class="fas fa-arrow-up"></i>

            </div>
        </div>
    </div>

    <div class="flex-row col">


        <div class="col-3 padding"><span class="info">@Digital Control 2020</span></div>
        <div class="col-7"></div>
        <div class="col-2 ">
            <div class="center flex-row padding">
                <div class="col-4"><i style="color: white" class="fab fa-twitter"></i></div>
                <div class="col-4"><i style="color: white" class="fab fa-facebook-f"></i></div>
                <div class="col-4"><i style="color: white" class="fab fa-instagram"></i></div>
            </div>


        </div>


    </div>


</div>