.body {
    width: 100%;
    height: 2200px;
    background-color: #EEEEEE;
}

.opened-recipe {
    width: 100%;
    height: 250px;
    background-color: #7F7F7F;
}

.width {
    width: 70%;
    height: 2000px;
}

.text {
    text-align: left;
    font: 30px/35px Roboto;
    color: #FFFFFF;
    opacity: 1;
}

.font {
    font: 15px/25px Open Sans;
}

.padding {
    padding: 25px
}

.width-text {
    width: 60%;
}