<div class="body d-flex align-items-center">

    <div class="box">
        <p class="izdvajamo-recepti">I Z D V A J A M O</p>
    </div>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>

</div>

<div class="body d-flex flex-row align-items-center justify-content-between">

    <div class="box">
        <p class="izdvajamo-recepti">R E C E P T I</p>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <div>
            <app-recipes></app-recipes>
        </div>
        <div>
            <app-recipes></app-recipes>
        </div>
        <!-- <div>
            <app-recipes></app-recipes>
        </div> -->

    </div>


</div>