<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="recipe">
    <img src="assets/img/americraft-015-e1571691352610.png" alt="">
    <div class="d-flex flex-column justify-content-between">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit</div>

        <div class="d-flex flex-column align-items-end"><i class="fas fa-long-arrow-alt-right"></i></div>
    </div>


</div>