<div class="body height3">
</div>
<div class="body d-flex flex-row justify-content-center">
    <div class="width d-flex flex-row justify-content-around">
        <div class=" d-flex flex-column width6">
            <div class="title ">
                <p>
                    Lorem ipsum dolor sit amet consectetur
                </p>
            </div>
            <div>
                <img class="width3" src="assets/img/cooking.png " alt=" ">
            </div>
            <div class="text-box padding">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                    erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <div class="width5 d-flex justify-content-between">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="width7"></div>
        <div class="d-flex flex-column width2">
            <div class="height1 width2">
                <div class="width4 d-flex flex-row justify-content-between">
                    <i class="far fa-heart"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
            </div>
            <div class="published">

                <div style="padding: 15px;">
                    <div style="font: 17px/25px Open Sans; color: #7F7F7F;">NEDAVNO OBJAVLJENO</div>
                    <div style="width: 50%;">
                        <hr style="background-color: #DD137B;">
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column justify-content-between">
                            <div class="square1 ">
                                10
                            </div>
                            <div class="square2 ">
                                Jan
                            </div>
                        </div>
                        <div style="font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            With some text
                        </div>

                    </div>


                    <hr style="background-color: rgb(197, 195, 195); ">
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column justify-content-between ">
                            <div class="square1 ">
                                10
                            </div>
                            <div class="square2 ">
                                Jan
                            </div>
                        </div>
                        <div style="font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            With some text
                        </div>

                    </div>
                    <hr style="background-color: rgb(197, 195, 195); ">
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column justify-content-between ">
                            <div class="square1 ">
                                10
                            </div>
                            <div class="square2 ">
                                Jan
                            </div>
                        </div>
                        <div style="font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            With some text
                        </div>

                    </div>
                    <hr style="background-color: rgb(197, 195, 195); ">
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column justify-content-between ">
                            <div class="square1 ">
                                10
                            </div>
                            <div class="square2 ">
                                Jan
                            </div>
                        </div>
                        <div style="font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            With some text
                        </div>

                    </div>


                </div>
            </div>

            <div class="d-flex flex-column justify-content-around" style="height: 40%;">
                <div class="categories">
                    <div style="padding: 15px;">
                        <div style="width: 50%;">
                            <div style="font: 17px/25px Open Sans; color: #7F7F7F;">KATEGORIJE</div>
                            <hr style=" background-color: #DD137B;">

                        </div>
                        <div class="d-flex flex-column justify-content-between" style="height:150px; font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            <div>- Here goes some text</div>
                            <div>- Here goes some text</div>
                            <div>- Here goes some text</div>
                            <div>- Here goes some text</div>
                            <div>- Here goes some text</div>
                        </div>
                    </div>


                </div>
                <div class="tags">
                    <div style="padding: 15px;">
                        <div style="width: 50%;">
                            <div style="font: 17px/25px Open Sans; color: #7F7F7F;">TAGOVI</div>
                            <hr style=" background-color: #DD137B;">

                        </div>
                        <div class="row" style="height:150px; font: Condensed 15px/20px Roboto; color: #7F7F7F ">
                            <div class="row justify-content-md-start">
                                <div class="col">
                                    <span>adada</span>
                                </div>
                                <div class="col">
                                    <span>adada</span>
                                </div>
                                <div class="col">
                                    <span>adada</span>
                                </div>

                            </div>





                        </div>
                    </div>
                </div>


            </div>
        </div>