<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="product flex-column padding">
    <div class="flex-row">
        <div class="col-11"></div>
        <div class="col-1">
            <span class="far fa-heart"></span>
        </div>

    </div>
    <div>
        <img class="product-photo">
    </div>
    <div>
        <span class="text">
            Lonac sa duplim dnom za kuvanje na paru
        </span>
    </div>
    <div>
        <div class="flex-row j-c-space-between">
            <div class="price">55,00</div>
            <button class="button"><img class="shopping-cart">Dodaj u korpu</button>
        </div>
    </div>




</div>