<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="product flex-column padding">
    <div class="flex-row">
        <div class="col-11"></div>
        <div class="col-1">
            <i class="far fa-heart"></i>
        </div>

    </div>
    <div>
        <img src="assets/img/1408186_s (1).png" class="product-photo">
    </div>
    <div>
        <span class="text">
            Lonac sa duplim dnom za kuvanje na paru
        </span>
    </div>
    <div>
        <div class="flex-row j-c-space-between">
            <div class="price">55,00</div>
            <button class="button"><div><img src="assets/img/cart-white.png" class="shopping-cart"><span>  Dodaj u korpu</span></div></button>
        </div>
    </div>




</div>